#abcdef {
  position: relative;
}
#abcdef::before {
  content: "";
  position: absolute;
  top: 0;
  right: 250px;
  width: 40px;
  height: 40px;
  background-image: url("../icons/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: linear-gradient(45deg, #345d7d 20%, #3498db 80%);
  background-image: url("../img/bg-orange-form.png");
  padding-top: 48px;
}
.header__top-side {
  margin-bottom: 35px;
}
.header__top-side .logo img {
  width: 100%;
}
.header .tel-numb,
.header .address {
  font-size: 27px;
  padding: 0;
  margin: 0;
}
.header .tel-numb {
  position: relative;
  font-weight: 500;
}
.header h1, .header h2 {
  white-space: pre-wrap;
}
.header h1 {
  line-height: 40px;
  font-size: 35px;
  margin-top: 105px;
  margin-bottom: 30px;
}
.header h2 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 65px;
}
.header__steps .step {
  margin-bottom: 30px;
}
.header__steps .step .icon-number {
  font-size: 72px;
  font-weight: 700;
  line-height: 55px;
  color: #f1c40f;
  margin-right: 10px;
}
.header__steps .step .step-text {
  font-size: 16px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  margin-right: 60px;
}
.menu__item a {
  font-size: 29px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-header {
  margin-top: 30px;
  margin-bottom: 60px;
}

.man-background {
  position: absolute;
  bottom: 0;
  right: 100px;
}
.man-background img {
  max-height: 730px;
}

.reasons-to-choose {
  padding-top: 40px;
}
.reasons-to-choose .row-1 {
  margin-bottom: 100px;
}
.reasons-to-choose .row-2 {
  position: relative;
}
.reasons-to-choose .row-2::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 42.5%;
  width: 275px;
  height: 80px;
  background-image: url("../img/LOGO4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.reasons-to-choose .row-2 .man-reason img {
  position: absolute;
  bottom: 0;
  left: 31%;
  z-index: -1;
}
.reasons-to-choose h2 {
  color: #000;
  font-size: 55px;
  font-weight: 700;
  line-height: 30px;
}
.reasons-to-choose .h2-reason {
  margin-bottom: 100px;
  line-height: 1.5;
}
.reasons-to-choose .h2-review {
  margin-top: 75px;
  margin-bottom: 75px;
  line-height: 1.5;
}
.reasons-to-choose__item {
  color: #000;
  font-size: 17px;
  border: 5px dashed black;
  border-radius: 10px;
  height: 250px;
  padding: 50px 55px;
  margin-bottom: 50px;
}
.reasons-to-choose__item__header {
  font-weight: 700;
  font-size: 26px;
}
.reasons-to-choose__item .main-text {
  font-size: 26px;
  line-height: 1;
}
.reasons-to-choose__item .extra-text {
  font-size: 26px;
  color: #f1c40f;
  line-height: 1;
}

.reasons-to-choose__item {
  position: relative;
  border: 10px dashed black;
  border-radius: 10px;
  background-color: white;
}
.reasons-to-choose__item::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: white;
}
.reasons-to-choose__item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 13px;
  width: 35px;
  height: 35px;
  background: url(../icons/point.png) no-repeat;
  background-size: contain;
  background-color: white;
  background-position: 50% 0;
}
.reasons-to-choose__item.item-1::before {
  top: -40px;
  background: url(../icons/choices.png) no-repeat;
  background-color: white;
  background-size: contain;
}
.reasons-to-choose__item.item-2::before {
  background: url(../icons/manager.png) no-repeat;
  background-color: white;
  background-size: contain;
}
.reasons-to-choose__item.item-3::before {
  background: url(../icons/icon1.png) no-repeat;
  background-color: white;
  background-size: contain;
}
.reasons-to-choose__item.item-4::before {
  background: url(../icons/rent-a-car.png) no-repeat;
  background-color: white;
  background-size: contain;
}

.btn-cont {
  position: relative;
}
.btn-cont::before, .btn-cont::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #3498db;
  border-radius: 50%;
  background-color: #3498db;
}
.btn-cont::before {
  left: 0;
}
.btn-cont::after {
  right: 0;
}

.review__item {
  background-color: #348bc7;
  min-height: 440px;
}
.review__item__image {
  min-height: 440px;
  padding: 0;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/review-1.png");
}
.review__item__image.image-1 {
  background-image: url("../img/review-1.png");
}
.review__item__image.image-2 {
  background-image: url("../img/2-review.jpg");
}
.review__item__image.image-3 {
  background-image: url("../img/3-review.jpg");
}
.review__item__image.image-4 {
  background-image: url("../img/4-review.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.review__item__image img {
  width: 100%;
}
.review__item__text {
  padding: 95px 45px;
  font-size: 15px;
  line-height: 1.55;
}
.review__item__text__author {
  font-weight: 700;
}

.diagnostic {
  position: relative;
  background-color: #348bc7;
  padding-top: 208px;
}
.diagnostic .yellow-box {
  position: relative;
  background-color: #f1c40f;
  padding-top: 90px;
  margin-left: 45px;
  border-radius: 10px;
  min-height: 663px;
  margin-bottom: 123px;
}
.diagnostic .yellow-box h2 {
  font-weight: 700;
  margin-bottom: 120px;
}
.diagnostic .yellow-box .grey-box {
  position: absolute;
  left: -45px;
  bottom: -15px;
  background-color: #34495e;
  padding-top: 95px;
  min-height: 420px;
  padding-left: 45px;
  border-radius: 5px;
  width: 50%;
}
.diagnostic .yellow-box .grey-box p {
  font-size: 28px;
  margin-bottom: 20px;
}
.diagnostic .yellow-box .magnifier {
  position: absolute;
  right: -9%;
  bottom: -8%;
}
.diagnostic .bmw {
  position: relative;
  width: 100%;
}
.diagnostic .bmw img {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 12%;
}
.diagnostic .bmw .logo-skewed {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 60%;
  top: 20%;
}

.btn-diagnostic {
  position: relative;
  min-width: 345px;
  margin-bottom: 95px;
}
.btn-diagnostic .paper {
  position: absolute;
  right: -80px;
  bottom: -60px;
}

.benefits {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #348bc7;
}
.benefits__item {
  border-radius: 10px;
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 45px;
}
.benefits__item img {
  width: 175px;
  height: 175px;
}
.benefits__item__text {
  padding: 65px 50px 60px 50px;
  color: black;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.55;
}

.b-item {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 10px;
}

.category {
  background: #348bc7;
  padding-top: 130px;
  padding-bottom: 135px;
  color: black;
}
.category__item {
  background: white;
  border-radius: 10px;
  padding-bottom: 35px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.category__item__image {
  width: 100%;
  border-radius: 10px;
  height: 210px;
  text-align: center;
}
.category__item__header {
  padding-top: 40px;
  font-weight: 700;
  font-size: 28px;
}
.category__item__description {
  font-size: 14px;
  padding: 0 25px 0 25px;
}
.category__item__price {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.category__item__price .red-overline {
  color: red;
  text-decoration: line-through;
  margin-left: 10px;
}
.category__item__button {
  margin-top: 40px;
}
.category__item .btn {
  margin-right: 0;
  width: 50%;
}

.contacts {
  color: black;
  padding: 60px 0 70px 0;
}
.contacts .email {
  font-size: 31px;
  margin-bottom: 35px;
}
.contacts__address {
  font-size: 31px;
}
.contacts__address.second {
  margin-bottom: 30px;
}
.contacts .bordered-container {
  position: relative;
  border: 7px dashed black;
  border-radius: 30px;
  padding-top: 45px;
  padding-bottom: 115px;
}
.contacts .bordered-container::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 55px;
  bottom: 0;
  left: 0;
  background: url(../img/yellow_car.svg) no-repeat;
  background-size: contain;
  animation-name: rotate;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  100% {
    transform: translateX(850px);
  }
}
.contacts .bordered-container::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 150px;
  width: 40px;
  height: 70px;
  background: url(../icons/point.png) no-repeat;
  background-color: white;
  background-size: cover;
}
.contacts__info {
  padding-left: 80px;
}
.contacts__info__header {
  font-size: 71px;
  font-weight: 700;
  margin-bottom: 35px;
}
.contacts__info__icons {
  margin-bottom: 35px;
}
.contacts__info__icons__icon {
  width: 66px;
  height: 66px;
  margin-right: 25px;
  background-size: 150% 150%;
  background-position: 50% 50%;
}
.contacts__info__icons__icon.icon-1 {
  background-image: url("../icons/telephone.svg");
}
.contacts__info__icons__icon.icon-2 {
  background-image: url("../icons/telegram.svg");
}
.contacts__info__icons__icon.icon-3 {
  background-image: url("../icons/whatsapp.svg");
}
.contacts__info .telnumb {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  max-width: 260px;
}
.contacts__info .telnumb.second {
  margin-bottom: 30px;
}
.contacts__info .telnumb::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  bottom: 7px;
  left: 0;
}

.btn-contacts {
  min-width: 345px;
}

.footer {
  background: #171717;
  padding-top: 50px;
  padding-bottom: 195px;
}
.footer__logo {
  position: relative;
  height: 50px;
}
.footer__logo__image {
  width: 20px;
  height: 40px;
}
.footer__logo__name p {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: lowercase;
}
.footer__logo__name p:nth-child(1) {
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 27px;
}
.footer__logo__name p:nth-child(2) {
  font-size: 13px;
  font-weight: 500;
}
.footer__headers {
  color: #525252;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer__menu {
  padding: 0;
  margin: 0;
}
.footer__menu__item {
  list-style: none;
  font-size: 26px;
  font-weight: 400;
  line-height: 2;
}
.footer__menu__item a {
  text-decoration: none;
  color: white;
}
.footer__contacts {
  margin: 0;
  padding: 0;
}
.footer__contacts__item {
  list-style: none;
  font-size: 26px;
  font-weight: 400;
  line-height: 2;
}

h2 {
  font-weight: bold;
  color: #000;
}

.popup-question {
  padding: 56px 122px;
  max-width: 950px;
  border-radius: 10px;
  border: 1px solid red;
  display: none;
}
.popup-question h2 {
  font-size: 44px;
  margin-bottom: 145px;
}
.popup-question .btn-popup-question {
  background-color: #348bc7;
  min-width: 300px;
  font-size: 44px;
}
.popup-question .btn-popup-question.keklel {
  margin-right: 104px;
}

.popup-quiz {
  max-width: 1400px;
  border: 1px solid red;
  background-color: #fff;
  position: absolute;
  z-index: 100;
  left: 20%;
  top: 0;
  display: none;
}
.popup-quiz__header {
  padding: 45px 115px 55px 0;
  background: #e0e0e0;
  border-bottom: 3px solid #777777;
}
.popup-quiz__header h4 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.popup-quiz__content {
  padding-left: 115px;
  padding-top: 37px;
  padding-right: 115px;
  padding-bottom: 40px;
}
.popup-quiz__content h3 {
  color: #000;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 35px;
}
.popup-quiz__content .btn-popup-quiz {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  padding: 20px;
  margin-bottom: 25px;
}
.popup-quiz__content .btn-next {
  background-color: #348bc7;
  color: #fff;
  border: none;
  font-size: 25px;
  width: 215px;
  min-width: 0;
}
.popup-quiz__content .btn-next.blocked {
  background-color: #e8e8e8;
}
.popup-quiz__content label {
  color: #000;
  display: block;
  font-weight: 700;
  font-size: 30px;
}
.popup-quiz__content input {
  width: 100%;
  border: 1px solid #000;
  height: 65px;
  border-radius: 10px;
  padding-left: 20px;
}
.popup-quiz__content select {
  width: 100%;
  border: 1px solid #000;
  height: 65px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 65px;
}
.popup-quiz__content select option {
  font-size: 27px;
}

.third-quiz h3 {
  margin-bottom: 30px;
}

::-webkit-input-placeholder {
  font-size: 27px;
}

::-moz-placeholder {
  font-size: 27px;
}

/* Firefox 19+ */
:-moz-placeholder {
  font-size: 27px;
}

/* Firefox 18- */
:-ms-input-placeholder {
  font-size: 27px;
}

.margoin {
  margin-bottom: 45px;
}
.margoin-2 {
  margin-bottom: 258px;
}

.last-quiz {
  min-height: 920px;
}
.last-quiz .green-container {
  font-size: 31px;
  padding: 45px 0 40px 0;
  min-height: 155px;
  width: 100%;
  background-color: #62c584;
}
.last-quiz .green-container span {
  text-decoration: underline;
  color: #18415d;
}

.order-window {
  padding: 45px 45px 65px 45px;
  background-color: #348bc7;
}
.order-window h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 48px;
}
.order-window p {
  color: #000;
  font-size: 24px;
  margin-bottom: 45px;
}
.order-window__container {
  margin-bottom: 30px;
}
.order-window__container.owc-3 {
  margin-bottom: 50px;
}
.order-window label {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 27px;
}
.order-window input {
  width: 100%;
  border: 1px solid #000;
  height: 65px;
  border-radius: 10px;
  padding-left: 20px;
}
.order-window .btn {
  width: 100%;
  color: #000;
  font-size: 30px;
}

body {
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 35px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  color: #fff;
  background-color: #f1c40f;
  padding: 20px;
  font-size: 22px;
}

@media (max-width: 1824px) {
  #reasons-to-choose-item .reasons-to-choose__item__header {
    font-size: 20px;
  }
  #reasons-to-choose-item .main-text {
    font-size: 20px;
  }
  #reasons-to-choose-item .extra-text {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  #man-background-header {
    left: 0;
  }
}
#white-nigger {
  color: #fff;
}

@media (max-width: 1258px) {
  #reasons-to-choose-item .reasons-to-choose__item__header {
    font-size: 18px;
  }
  #reasons-to-choose-item .main-text {
    font-size: 18px;
  }
  #reasons-to-choose-item .extra-text {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  #contacts-text {
    font-size: 23px;
  }

  #map {
    width: 100%;
    height: 90%;
  }

  #category .category__item__header {
    font-size: 24px;
  }
  #category .category__item__button .btn {
    width: 100%;
  }

  #diagnostic-card .yellow-box .grey-box {
    width: 70%;
    left: -30px;
    top: 190px;
  }
  #diagnostic-card .yellow-box .grey-box p {
    font-size: 20px;
  }

  #man-background-header {
    right: 0;
  }
  #man-background-header img {
    width: 450px;
  }

  #header .menu__item {
    margin-right: 10px;
  }
  #header .menu__item a {
    font-size: 16px;
  }

  #header-logo {
    top: 40%;
  }
  #header-logo img {
    width: 100%;
  }

  #reasons-to-choose .row-2::before {
    left: 34%;
    top: -120px;
  }
  #reasons-to-choose .reasons-to-choose__item {
    height: 300px;
  }

  #man-reason img {
    left: 30%;
    bottom: 50px;
    width: 40%;
  }
}
#orderr {
  display: none;
}

@media (max-width: 1023px) {
  #bmw-container {
    display: none;
  }

  #man-background-header {
    display: none;
  }

  #header-logo {
    text-align: center;
  }

  #header-menu {
    justify-content: center;
  }

  #man-reason {
    display: none;
  }

  #row-2::before {
    display: none;
  }

  #magnifier {
    display: none;
  }

  #grey-box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #reasons-to-choose .h2-reason {
    font-size: 45px;
  }
  #reasons-to-choose .h2-review {
    font-size: 45px;
  }
  #reasons-to-choose .reasons-to-choose__item {
    height: 300px;
  }

  #map {
    margin-left: 70px;
  }
}
@media (max-width: 575px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  #contacts .contacts__info {
    padding-left: 10px;
  }
  #contacts .contacts__info__header {
    font-size: 30px;
  }

  #contacts-text {
    font-size: 20px;
    white-space: pre-wrap;
  }

  #btn-contacts {
    min-width: 0;
  }

  #diagnostic-card .yellow-box {
    margin-left: 0;
  }
  #diagnostic-card .yellow-box__header {
    font-size: 20px;
  }
  #diagnostic-card .yellow-box .grey-box {
    width: 100%;
    left: 0;
    top: 190px;
  }
  #diagnostic-card .yellow-box .grey-box p {
    font-size: 15px;
  }

  #btn-diagnostic {
    min-width: 0;
    width: 100%;
  }
  #btn-diagnostic .paper {
    left: 0;
    bottom: -110px;
  }

  #benefits .benefits__item {
    padding-left: 10px;
  }
  #benefits .benefits__item__text {
    font-size: 18px;
  }

  #footer .logo {
    width: 100%;
  }

  #category .category__item__button .btn {
    width: 100%;
  }

  #reasons-to-choose .h2-reason {
    font-size: 45px;
  }
  #reasons-to-choose .h2-review {
    font-size: 45px;
  }
  #reasons-to-choose .reasons-to-choose__item {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  #header .tel-numb {
    font-size: 25px;
  }
  #header .address {
    font-size: 25px;
  }

  #map {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
